# Désactiver l'affichage des erreurs pour la production
# php_flag display_errors off

# Page par défaut
DirectoryIndex index.php index-simple.php

# Désactiver l'affichage des répertoires
Options -Indexes

# Types MIME pour les fichiers CSS et JS
AddType text/css .css
AddType application/javascript .js 